/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/binary.jpeg');
    /* #f0f0f0; */
    color: #333333;
}

header {
    background-color: #333333;
    color: #fff;
    position: fixed; /* Fix the navigation bar at the top */
    width: 100%; /* Make it full-width */
    padding: 10px 0;
    top: 0;
    z-index: 1; /* Ensure it's above other content */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 500;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* In styles.css */
#hero {
    background-image: url('images/design.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

    position: relative; /* Add this to enable absolute positioning */
    padding: 20px 0; /* Adjust the padding as needed */
}

/* Style the icon container */
.icon-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}

/* Add spacing between icons */
.icon-container i {
    margin: 0 20px;
}


.hero-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#about, #projects, #contact {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #5f5e5e;
    color: #fff;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    text-align: center;
}

/* In your CSS (styles.css) */
.profile-image {
    max-width: 100%; /* Set the maximum width to 100% of its container */
    max-height: 300px; /* Set the maximum height to your desired value */
    display: block; /* Ensure it doesn't have any extra spacing */
    margin: 0 auto; /* Center the image horizontally if needed */
}


/* Center-align the content within the "About Me" section */
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.about-text {
    max-width: 600px; /* Adjust the maximum width as needed */
}

/* Style the "Read More" button */
#toggleButton {
    margin-top: 20px; /* Add some space below the text */
    padding: 10px 20px;
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#toggleButton:hover {
    background-color: #555; /* Button background color on hover */
}



.project:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1.0);
}

.project a {
    text-decoration: none;
    color: #333;
}

.project a:hover {
    color: #0070f3; /* Change to your preferred link color */
}


/* Add your CSS styles */
#projects {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.project {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.project h3 {
    font-size: 18px;
    margin: 0;
}

.project p {
    font-size: 14px;
}


.project {
    margin-bottom: 20px;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* Change the icon color on hover */
a i:hover {
    color: white; /* Change to the color you prefer */
}



footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
